if effects
	ul.footer__list.active
		each cat, i in effects
			li.footer__item.footer__item_cat
				unless cat.image
					- cat.image = "assets/i/" + cat.name + ".png"
				.footer__icon-container
					img.footer__icon( src=cat.image )
				span.footer__name!= cat.name
				if cat.childrens
					script( type="template" name="cat-items-#{i}" )
						each item in cat.childrens
							li.footer__item.footer__item_effect
								unless item.thumb
									- item.thumb = item.img;
								img.footer__effect-img( src=item.thumb data-image=item.img data-fallback-image="#{item.img}?v=2")

